
.icon-blood:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-pencil-1:before { content: '\e816'; } /* '' */
.icon-trash-empty:before { content: '\e81d'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */