.btn {
  margin: 20px auto;
  font-weight: 700;
}

.lineList .badge {
  background-color: black;
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0px;
}

.lineList .card-title {
  text-transform: uppercase;
}

.lineContainer {
  color: grey;
}

.lineContainer .lineTitle {
  font-size: 25px;
  font-weight: 700;
  margin: 15px 0px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.lineContainer > .lineDashboard > .btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lineContainer > .lineDashboard > .btns-container > .btn {
  margin: 0px;
}

.lineContainer > .eventsContainer {
  position: relative;
  margin: 10px;
}

.lineContainer > .eventsContainer .line {
  z-index: -1;
  left: 18px;
  top: 1px;
  position: absolute;
  height: 98%;
  border-right: #052093 dashed 6px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.lineContainer > .eventsContainer .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
}

.lineContainer > .eventsContainer .event .dot {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.7);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: background-color 0.5s, color 0.5s, -webkit-box-shadow 0.3s;
  transition: background-color 0.5s, color 0.5s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, background-color 0.5s, color 0.5s;
  transition: box-shadow 0.3s, background-color 0.5s, color 0.5s, -webkit-box-shadow 0.3s;
}

.lineContainer > .eventsContainer .event .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lineContainer > .eventsContainer .event .dots .dot {
  z-index: 2;
}

.lineContainer > .eventsContainer .event .dots .dot:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
}

.lineContainer > .eventsContainer .event .dots .dot.dot-edit, .lineContainer > .eventsContainer .event .dots .dot.dot-remove {
  width: 0px;
  height: 0px;
  margin: 0px;
  font-size: 0px;
  -webkit-transition-property: width, height, margin, font-size, -webkit-transform;
  transition-property: width, height, margin, font-size, -webkit-transform;
  transition-property: transform, width, height, margin, font-size;
  transition-property: transform, width, height, margin, font-size, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: relative;
  z-index: 1;
}

.lineContainer > .eventsContainer .event .dots .dot.dot-remove {
  -webkit-transform: translate(0px, -30px);
          transform: translate(0px, -30px);
  color: red;
}

.lineContainer > .eventsContainer .event .dots .dot.dot-edit {
  -webkit-transform: translate(0px, -30px);
          transform: translate(0px, -30px);
  color: blue;
}

.lineContainer > .eventsContainer .event .content {
  padding: 0px 10px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.7);
  -webkit-transform: translate(15px, 8px);
          transform: translate(15px, 8px);
  max-width: calc(100% - 55px);
  -webkit-transition-property: padding-bottom;
  transition-property: padding-bottom;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.lineContainer > .eventsContainer .event .content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
  border: transparent solid 10px;
  border-right: white solid 10px;
}

.lineContainer > .eventsContainer .event .content > p {
  margin: 0px;
  text-align: left;
}

.lineContainer > .eventsContainer .event .content .date {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  color: black;
}

.lineContainer > .eventsContainer .event .content .title {
  font-size: 25px;
  color: grey;
  cursor: pointer;
  -webkit-transition: border 1s;
  transition: border 1s;
  border-color: transparent;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.lineContainer > .eventsContainer .event .content .description {
  color: black;
  text-align: justify;
  font-size: 0px;
  max-height: 0px;
  -webkit-transition-property: font-size, max-height;
  transition-property: font-size, max-height;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin-top: 5px;
}

.lineContainer > .eventsContainer .event.opened .dots .dot.dot-edit, .lineContainer > .eventsContainer .event.opened .dots .dot.dot-remove {
  font-size: 15px;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  -webkit-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
}

.lineContainer > .eventsContainer .event.opened .content {
  padding-bottom: 10px;
}

.lineContainer > .eventsContainer .event.opened .content .date {
  width: 100%;
}

.lineContainer > .eventsContainer .event.opened .content .title {
  width: 100%;
  border-bottom: rgba(150, 150, 150, 0.7) solid 0.2px;
}

.lineContainer > .eventsContainer .event.opened .content .description {
  font-size: 15px;
  max-height: 100%;
}

.lineContainer > .eventsContainer .event.event-form .dot {
  background-color: white;
  color: #019785;
  font-size: 40px;
  font-weight: 800;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lineContainer > .eventsContainer .event.event-form .dot.dot-create > div {
  border-radius: 2px;
  background-color: #019785;
  height: 5px;
  width: 20px;
  -webkit-transition: width 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s, -webkit-transform 0.3s;
}

.lineContainer > .eventsContainer .event.event-form .dot.dot-create > div:first-child {
  -webkit-transform: translate(-60%, 4.5px) rotateZ(45deg);
          transform: translate(-60%, 4.5px) rotateZ(45deg);
  width: 10px;
}

.lineContainer > .eventsContainer .event.event-form .dot.dot-create > div:last-child {
  -webkit-transform: translate(20%, -2px) rotateZ(-45deg);
          transform: translate(20%, -2px) rotateZ(-45deg);
}

.lineContainer > .eventsContainer .event.event-form .dot.dot-update > div {
  background-color: #052093;
}

.lineContainer > .eventsContainer .event.event-form .dot.dot-cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.lineContainer > .eventsContainer .event.event-form .dot.dot-cancel > div {
  border-radius: 2px;
  background-color: red;
  height: 5px;
  width: 20px;
  -webkit-transition: width 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s, -webkit-transform 0.3s;
}

.lineContainer > .eventsContainer .event.event-form .dot.dot-cancel > div:first-child {
  -webkit-transform: translate(0%, 2.5px) rotateZ(45deg);
          transform: translate(0%, 2.5px) rotateZ(45deg);
}

.lineContainer > .eventsContainer .event.event-form .dot.dot-cancel > div:last-child {
  -webkit-transform: translate(0%, -2.5px) rotateZ(-45deg);
          transform: translate(0%, -2.5px) rotateZ(-45deg);
}

.lineContainer > .eventsContainer .event.event-form .content {
  max-height: 100%;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
  padding: 5px 10px;
}

.lineContainer > .eventsContainer .event.event-form .content textarea {
  border: none;
  padding: 5px;
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.3) solid 1.5px;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  width: 100%;
  resize: vertical;
}

.lineContainer > .eventsContainer .event.event-form .content textarea:active, .lineContainer > .eventsContainer .event.event-form .content textarea:focus {
  border: #019785 solid 1.5px;
  outline: none;
}

.lineContainer > .eventsContainer .event.event-form .content select {
  display: block;
}

.lineContainer > .eventsContainer .event.event-form .content select:active, .lineContainer > .eventsContainer .event.event-form .content select:focus {
  border: #019785 solid 1.5px;
  outline: none;
}

.lineContainer > .eventsContainer .event.event-form.event-disabled .dot.dot-create > div {
  background-color: #019785;
  height: 5px;
  width: 20px;
}

.lineContainer > .eventsContainer .event.event-form.event-disabled .dot.dot-create > div:first-child {
  -webkit-transform: translate(0%, 2.5px) rotateZ(0deg);
          transform: translate(0%, 2.5px) rotateZ(0deg);
}

.lineContainer > .eventsContainer .event.event-form.event-disabled .dot.dot-create > div:last-child {
  -webkit-transform: translate(0%, -2.5px) rotateZ(-90deg);
          transform: translate(0%, -2.5px) rotateZ(-90deg);
}

.lineContainer > .eventsContainer .event.event-form.event-disabled .dot.dot-update > div {
  background-color: #052093;
}

.lineContainer > .eventsContainer .event.event-form.event-disabled .dot.dot-cancel {
  display: none;
}

.lineContainer > .eventsContainer .event.event-form.event-disabled .content {
  display: none;
  max-height: 0px;
}

.createLine .chooseColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.createLine .chooseColor .color {
  width: 30px;
  height: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 2px;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.createLine .chooseColor .color.chosen {
  width: 40px;
  height: 25px;
}
/*# sourceMappingURL=line.css.map */